* {
    box-sizing: border-box
}

/* Set height of body and the document to 100% */


/* Style tab links */
.tablink {
    color:#f8f9fa;
    background-color: #043f5f;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 25%;
}

    .tablink:hover {
        background-color: #043f5f;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}
Label{

    color:black !important;
}
#Urun {
    background-color: #f8f9fa;
}

#attribute {
    background-color: #f8f9fa;
}

#details {
    background-color: #f8f9fa;
}

#other {
    background-color: #f8f9fa;
}
/* Genel stil ayarları (desktop ve daha büyük ekranlar) */
.tablink {
    font-size: 18px;
}

.tabcontent {
    color: white;
    display: none;
    padding: 60px 20px;
    height: 80%;
}

/* 1200px ve daha küçük ekranlar için */
@media (max-width: 1200px) {
    .tablink {
        font-size: 17px;
    }
}

/* 768px ve daha küçük ekranlar için */
@media (max-width: 768px) {
    .tablink {
        font-size: 12px;
    }

    .tabcontent {
        padding: 50px 20px;
        height: 70%;
    }
}

/* 480px ve daha küçük ekranlar için */
@media (max-width: 480px) {
    .tablink {
        font-size: 8px;
    }

    .tabcontent {
        padding: 40px 20px;
        height: 50%;
    }
}

