 @model SubCategory

<div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
        <div class="p-3 border bg-light">

            <form asp-controller="SubCategory" asp-action="Update">
                <div class="mb-3">
                    @Html.HiddenFor(x=>x.SubCategoryId)
                    <label for="Kategori" class="form-label"> Kategori</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Category
">
                    </select>
                    <label for="AltKategori" class="form-label">Alt Kategori Adı</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})

                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a type="submit" asp-action="Index" asp-controller="Category" class="btn btn-outline-primary">İptal</a>
                </div>
            </form>

        </div>
    </div>
</div>