<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Sipariş Alındı Güncellendi</h6>
                    <h2 class="text-right">
                        <i class="bi bi-cart4"></i>
                        <span>99</span>
                    </h2>
                    <p class="m-b-0">Tamamlanan Sipariş<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Sipariş Alındı</h6>
                    <h2 class="text-right">
                        <i class="bi bi-cart-check"></i>
                        <span>99</span>
                    </h2>
                    <p class="m-b-0">Tamamlanan Sipariş<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Sipariş Alındı</h6>
                    <h2 class="text-right"><i class="bi bi-cart4"></i><span>99</span></h2>
                    <p class="m-b-0">Tamamlanan Sipariş<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Sipariş Alındı</h6>
                    <h2 class="text-right"><i class="bi bi-cart4"></i><span>99</span></h2>
                    <p class="m-b-0">Tamamlanan Sipariş<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-bl order-card-menu">
                <div class="card-block">
                    <h4 class="m-b-20">Ürün Ekle</h4>
                    <h2 class="text-right">
                        <i class="bi bi-bag-plus-fill"></i>
                    </h2>
                    <p class="m-b-0">Toplam Ürün Sayısı <span class="f-right">351</span></p>
                </div>
                <div class="cardlink text-primary">
                    Git
                </div>
            </div>  
        </div>
    </div>
</div>