@model Products
<div class="row d-flex align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12">
        <div class="p-3 border bg-light">



            <form asp-action="Create" asp-controller="Product" id="productForm"  method="post">
                <div class="form-group">
                    <div class="mb-3 mt-3">
                        <label for="productName" class="form-label">Ürün Adı:</label>
                        <input type="text" class="form-control" id="productName" placeholder="Ürün Adı Giriniz" name="ProductName">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Ürün Açıklaması:</label>
                        <input type="text" class="form-control" id="description" placeholder="Ürün Açıklaması Giriniz" name="Description">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Kategori Seç</label>

                        <select class="form-select"  asp-for="SubCategoryId" asp-items="@ViewBag.FullCategories" id="subcategory-select">
                        </select>

                        <script>
                            $(document).ready(function () {
                                $('#subcategory-select').select2();
                            });
                        </script>
                       <!--<select class="form-control" id="subCategoryId" name="subCategoryId">
                            <option value="">Seçiniz</option>
                            @foreach (var category in ViewBag.FullCategories)
                            {
                                <option value="@category.Value">@category.Text</option>
                            }
                         </select>-->
                    </div>
                    <div class="mb-3">
                        <label for="imagesUrl" class="form-label">Resim URL:</label>
                        <input type="text" class="form-control" id="imagesUrl" placeholder="Resim URL'si Giriniz" name="ImagesUrl">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Fiyat:</label>
                        <input type="text" class="form-control" id="price" placeholder="Fiyat Giriniz" name="Price">
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stok:</label>
                        <input type="text" class="form-control" id="stok" placeholder="Stok Miktarı Giriniz" name="stok">
                    </div>
                    <div class="mb-3">
                    </div>
                </div>

                <div id="attributesContainer">

                </div>
                <button type="button" id="addAttribute" class="btn btn-primary mt-3">
                    <i class="bi bi-plus-circle"></i> Özellik Ekle
                </button>

                <button type="submit" class="btn btn-success mt-3">Kaydet</button>
            </form>
            <script>
                $(document).ready(function () {
                    var attributeIndex = 0;

                    $('#addAttribute').click(function () {
                        var newAttributeHtml = `
                                                                                            <div class="form-group" id="attribute-${attributeIndex}">
                                                                                                <label for="attributeType-${attributeIndex}" class="form-label">Tip</label>
                                                                                                 <input name="ProductAttributes[${attributeIndex}].Type" class="form-control" id="attributeType-${attributeIndex}" placeholder="Özellik Tipi Giriniz" />
                                                                                                <label for="attributeValue-${attributeIndex}" class="form-label">Değer</label>
                                                                                                  <input name="ProductAttributes[${attributeIndex}].Value" class="form-control" id="attributeValue-${attributeIndex}" placeholder="Özellik Değeri Giriniz" />
                                                                                                <button type="button" class="btn btn-danger mt-2 removeAttribute"><i class="bi bi-dash"></i></button>
                                                                                            </div>`;
                        $('#attributesContainer').append(newAttributeHtml);
                        attributeIndex++;
                    });

                    // Sayfa yüklendiğinde otomatik olarak bir kez tetikleme
                    $('#addAttribute').trigger('click');
                    // Form gönderiminde en az bir özellik kontrolü
                    $('#productForm').submit(function (e) {
                        if ($('#attributesContainer .form-group').length === 0) {
                            e.preventDefault(); // Form gönderimini engelle
                            alert("En az bir özellik eklemelisiniz.");
                        }
                    });

                    // İlk başta bir özellik ekleyelim
                   
                    $('#attributesContainer').on('click', '.removeAttribute', function () {
                        $(this).closest('.form-group').remove();
                    });
                });
            </script>
        </div>
    </div>
</div>
